<html>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
<title>{{title_name}}</title>
<style type="text/css">body{ font-family:Arial; font-size:14px;color:#484848;}.a1:link { color: #000000;}.a2:link { color: #FF6100;}</style>
<H1 style="font-size:40px;">{{file_name}}</H1>
{{#TABLE_BOOKMARK_DELETED}}
<DT><IMG src=Image\DeleteFlag.png><A HREF={{element_url}} class={{element_class}}>{{element_title}}</A>	
{{/TABLE_BOOKMARK_DELETED}}
{{#TABLE_BOOKMARK}}
<DT><A HREF={{element_url}} class={{element_class}}>{{element_title}}</A>	
{{/TABLE_BOOKMARK}}
</DL><p></table></html>